<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<bean id="userService" class="com.bigbird.dubbo.service.imp.UserServiceImpl" />
	<bean id="sharesListService" class="com.bigbird.dubbo.service.imp.SharesListServiceImpl" />
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="bigbird-dubbo-server" />

	<!-- 使用zookeeper广播注册中心暴露服务地址 -->
	<dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />

	<dubbo:service interface="com.bigbird.api.dubbo.UserService"
		ref="userService" />
		<dubbo:service interface="com.bigbird.api.dubbo.SharesListService"
		ref="sharesListService" timeout="1200000" />
	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20880" />
	<!-- 官方注释：扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类。 测试发现：此处package不填写包名会无法注册Service，扫描全包需填写包首即可或者填写至类的上一级目录。 -->
	<dubbo:annotation package="com" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- <value>classpath:zookeeper.properties</value> -->
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
</beans>  